@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
.nav-bar{
    background-color:#00BFA6;
    color: white;
    display: block;
    margin-block-end: 0rem;
    margin-inline-start: 0rem;
}
.nav-bar .heading{
    background-color: #00BFA6;
    color: white;
    margin: 0rem 0rem;
    padding: 1rem;
}
.nav-bar ul {
    list-style: none;
    text-align: right;
}
.nav-bar .nav-list li{
    display: inline;
    padding: 0.5rem 1rem;
}
.link-active{
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.link-inactive{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3rem 20rem;
    border: 0.3rem solid #00BFA6 ;
    background-color: white;
    padding-left: 0.5rem;
}
body{
    margin: 0rem 0rem;
    background-color: blanchedalmond;
    font-family: 'Oxygen', sans-serif;
}
.question-container{
    padding: 0.5rem;
}

.submit{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
.output{
    margin: 1rem;
}

/* Footer */
.footer{
    background-color: #00BFA6;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    margin-top: 1rem ;
    margin-left: 0rem;
    margin-right: 0rem;
   
}
.footer .links{
    color: white;
}
.footer .ul{
    padding-inline-start: 0px;
   
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 2rem;
}